header
    a(href="/").header__logo
        i.fab.fa-apple
    nav
        ul
            if loggedIn 
                li 
                    a(href=`/users/${user}`)
                        span hi
                li 
                    a(href="/user/logout") Logout
                
            else
                li 
                    a(href="/search")
                       i.fas.fa-search
                li
                    a(href="/join") Join
                li
                    a(href="/login").header__btn Login
                
                
                
            

                