doctype html 
html(lang="ko")
    head 
        title #{ pageTitle } | #{siteName}
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
        link(rel="stylesheet", href="/client/style.css")
    body
        include partials/header.pug
        main
            div
                block content




